encode=json;
context=
{
    uniqueID:"850",
    name:"GalleryPlugin",
    targetPackage:["com.coloros.gallery3d"],
    version:1,
    pluginClass:["com.oplus.gallery.addition_lib.br.GalleryBackupPlugin", "com.oplus.gallery.addition_lib.br.GalleryRestorePlugin"],
    soPaths:[],
    useParentClass:true,
    backupFolder:"Gallery",
    dataPattern:0
};